.DS_Store
*.pyc
settings.py
test.db
*.wpr
.project
.pydevproject
.settings
.sass-cache
error.log
.webassets-cache
baseframe-packed.*
instance/development.py
.coverage
*.packed.js
*.packed.css
funnel/static/gen
*.sql
*.gz
*.bz2
*.min.js
funnel/static/thumbnails/*
funnel/static/gen/*
funnel/assets/node_modules/*
funnel/static/build
funnel/templates/index.html.jinja2
templates/index.html.jinja2
funnel/static/service-worker.js
